# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homeassistant
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: homeassistant
  values:
    ingress:
      main:
        enabled: true
        hosts:
          - host: homeassistant.${BASE_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            ingressClassName: internal
          traefik:
            enabled: false
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
          homepage:
            enabled: false
    service:
      main:
        enabled: true
        externalIP: 192.168.10.191
        ports:
          main:
            enabled: true
            port: 8123
            protocol: http
        type: ExternalIP
        useSlice: false
    workload:
      main:
        enabled: false
