apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: recyclarr
      version: 13.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    image:
      pullPolicy: IfNotPresent
      repository: ghcr.io/recyclarr/recyclarr
      tag: 7.5.2
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: ${S3URL}
        bucket: "${S3PREFIX}-recyclarr"
        accessKey: ${S3ID}
        secretKey: ${S3KEY}
        encrKey: ${S3KEY}
    service:
      main:
        enabled: true
        LoadBalancerIP: ${RECYCLARR_IP}
        type: LoadBalancer
        ports:
          main:
            enabled: true
            port: 8080
          codeserver:
            enabled: true
            port: 8181
    addons:
      codeserver:
        enabled: true
        service:
          enabled: false
        ingress:
          main:
            enabled: true
            targetSelector:
              main: codeserver
            integrations:
              nginx:
                enabled: true
                ingressClassName: internal
            traefik:
              enabled: false
              middlewares:
                - name: local
                  namespace: traefik
              certManager:
                enabled: true
                certificateIssuer: wethecommon-prod-cert
            hosts:
              - host: recyclarr.${BASE_DOMAIN}
                paths:
                  - path: /
                    pathType: Prefix
    workload:
      main:
        podSpec:
          initContainers:
            initconfig:
              enabled: false
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 0 * * *
    resources:
      requests:
        memory: 1024Mi
        cpu: 50m
      limits:
        memory: 4Gi
        cpu: 500m
    autoscaling:
      vpa:
        enabled: true
