age.agekey
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/*.backup.yaml
*-backup.yaml
current-ip-assignments.txt
.decrypted~*
