# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: proxmox
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: proxmox
  values:
    service:
      main:
        enabled: true
        type: ExternalIP
        externalIP: 192.168.10.30
        ports:
          main:
            enabled: true
            protocol: https
            port: 8006
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-ssl-verify: "false" # <-- Skip TLS verification
          nginx.ingress.kubernetes.io/proxy-ssl-name: "proxmox.${BASE_DOMAIN}" # Optional: Use hostname to match cert CN/SAN
        hosts:
          - host: proxmox.${BASE_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            ingressClassName: internal
          traefik:
            enabled: false
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
          homepage:
            enabled: false
