apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: doplarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: doplarr
      version: 12.14.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    env:
      LOG_LEVEL: ":info"
      OVERSEERR__URL: ${OVERSEERR_IP}
      OVERSEERR__API: ${OVERSEERR_API}
      OVERSEERR__DEFAULT_ID: ""
      DISCORD__MAX_RESULTS: 25
      DISCORD__REQUESTED_MSG_STYLE: ":plain"
      DISCORD__ROLE_ID: ""
      DISCORD__TOKEN: ${DISCORD_TOKEN}
      SONARR__URL: ${SONARR_IP}
      SONARR__API: ${SONARR_API}
      SONARR__QUALITY_PROFILE: ""
      SONARR__LANGUAGE_PROFILE: ""
      RADARR__URL: ${RADARR_IP}
      RADARR__API: ${RADARR_API}
      RADARR__QUALITY_PROFILE: ""
      PARTIAL_SEASONS: true
    credentials:
      s3:
        type: s3
        url: ${S3URL}
        bucket: "${S3PREFIX}-doplarr"
        accessKey: ${S3ID}
        secretKey: ${S3KEY}
        encrKey: ${S3KEY}
    ingress:
      main:
        enabled: true
        hosts:
          - host: doplarr.${BASE_DOMAIN}
        integrations:
          nginx:
            enabled: true
            ingressClassName: internal
          traefik:
            enabled: false
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
    service:
      main:
        enabled: true
        loadBalancerIP: ${doplarr_IP}
        type: LoadBalancer
        ports:
          main:
            enabled: true
            port: 8080
            protocol: http
            targetPort: 8080
    autoscaling:
      vpa:
        enabled: true
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 512Mi
    podOptions:
      hostUsers: true
