apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  interval: 5m
  chart:
    spec:
      chart: cloudflared
      version: 14.17.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3

  values:
    portal:
      open:
        enabled: false

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                TUNNEL_TOKEN: "${CLOUDFLARE_TOKEN}"

    securityContext:
      container:
        runAsUser: 1000
        runAsGroup: 1000
        UMASK: "0022"
      pod:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    resources:
      requests:
        memory: 1024Mi
        cpu: 50m
      limits:
        memory: 4Gi
        cpu: 500m

    podOptions:
      hostUsers: true
