apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: snapshot-controller
spec:
  interval: 5m
  chart:
    spec:
      chart: snapshot-controller
      version: 4.14.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    workload:
      main:
        autoscaling:
          vpa:
            enabled: true
        resources:
          requests:
            memory: 1024Mi
            cpu: 50m
          limits:
            memory: 2Gi
            cpu: 500m
    podOptions:
      hostUsers: true
