# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 2.14.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 30m
  values:
    autoscaling:
      vpa:
        enabled: false

    resources:
      requests:
        memory: 128Mi
        cpu: 10m
      limits:
        memory: 512Mi
        cpu: 500m
    podOptions:
      hostUsers: true