apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
  namespace: volsync
spec:
  interval: 5m
  chart:
    spec:
      chart: volsync
      version: 3.15.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    metrics:
    main:
      enabled: true
      type: Deployment
    securityContext:
      readOnlyRootFilesystem: false
    podOptions:
      hostUsers: true