---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lidarr-flac
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/main/kubernetes/apps/media/lidarr-flac/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  wait: true
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
      - kind: Secret
        name: cluster-secrets
