# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-operator
  namespace: kube-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: 0.34.1
      sourceRef:
        kind: HelmRepository
        name: intel  # Use Intel's official repo instead of TrueCharts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
  values:
    autoscaling:
      vpa:
        enabled: true
    resources:
      requests:
        memory: 128Mi
        cpu: 10m
      limits:
        memory: 512Mi
        cpu: 500m
