# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 15m
  timeout: 20m
  releaseName: sonarr
  chart:
    spec:
      chart: sonarr
      version: 25.2.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/home-operations/sonarr
      pullPolicy: IfNotPresent
      tag: 4.0.16.2946
    credentials:
      s3:
        type: s3
        url: ${S3URL}
        bucket: "${S3PREFIX}-sonarr"
        accessKey: ${S3ID}
        secretKey: ${S3KEY}
        encrKey: ${S3KEY}
    TZ: America/Los_Angeles
    exportarrImage:
      pullPolicy: IfNotPresent
      repository: ghcr.io/onedr0p/exportarr
      tag: v2.3.0@sha256:af535d94061cf97a52e1661945ffba78c03f9443eae7c0da1a80a5a4be56b520
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${SONARR_IP}
        ports:
          main:
            port: 8989
            protocol: http
    ingress:
      main:
        enabled: true
        hosts:
          - host: sonarr.${BASE_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: false
            ingressClassName: internal
          traefik:
            enabled: true
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
          homepage:
            enabled: true
            name: Sonarr
            description: TV Downloader/Manager
            group: -*rrs
            icon: ""
            widget:
              enabled: true
              custom:
                key: ${SONARR_API}
    metrics:
      main:
        enabled: false
        endpoints:
          - path: /metrics
            port: metrics
        prometheusRule:
          enabled: false
        targetSelector: metrics
        type: servicemonitor
    securityContext:
      container:
        UMASK: "0022"
        runAsGroup: 1000
        runAsUser: 1000
      pod:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        main:
          enabled: true
          mountPath: /config
          volsync:
            - name: config
              type: restic
              credentials: s3
              dest:
                enabled: true
                cacheCapacity: 100Gi
              src:
                enabled: true
                cacheCapacity: 100Gi
          exportarr:
            mountPath: /config
            readOnly: true
      media:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data
        server: 192.168.10.123
        mountPath: /media
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock
      tv:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data/media/tv
        server: 192.168.10.123
        mountPath: /tv
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock
      downloads:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data/usenet
        server: 192.168.10.123
        mountPath: /usenet
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock
      backup:
        enabled: true
        mountPath: /config/Backups
        volsync:
          - name: b2
            type: restic
            credentials: s3
            dest:
              enabled: true
              cacheCapacity: 10Gi
            src:
              enabled: true
              cacheCapacity: 10Gi
    autoscaling:
      vpa:
        enabled: true
    resources:
      requests:
        memory: 1024Mi
        cpu: 50m
      limits:
        memory: 4Gi
        cpu: 500m
