---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: spegel
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: 4.16.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    workload:
      main:
        autoscaling:
          vpa:
            enabled: false
        resources:
          requests:
            memory: 256Mi
            cpu: 10m
          limits:
            memory: 1Gi
            cpu: 500m
