---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: spegel
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: 4.16.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    workload:
      main:
        autoscaling:
          vpa:
            enabled: true
        resources:
          requests:
            memory: 1024Mi
            cpu: 50m
          limits:
            memory: 2Gi
            cpu: 500m
