apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mylar
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: mylar
      version: 16.14.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    image:
      repository: lscr.io/linuxserver/mylar3
      pullPolicy: IfNotPresent
      tag: version-v0.8.3
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-mylar"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    ingress:
      main:
        enabled: true
        integrations:
          nginx:
            enabled: true
            ingressClassName: internal
          traefik:
            enabled: false
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
          homepage:
            description: Comic Downloader/Manager
            enabled: true
            group: -*rrs
            icon: ""
            name: Mylar
            widget:
              custom:
                key: ${MYLAR_API}
              enabled: true
        hosts:
          - host: mylar.${BASE_DOMAIN}
    service:
      main:
        enabled: true
        loadBalancerIP: ${MYLAR_IP}
        annotations:
          metallb.io/loadBalancerIPs: ${MYLAR_IP}
        type: LoadBalancer
        ports:
          main:
            port: 8090
            protocol: http
            targetPort: 8090
    persistence:
      config:
        enabled: true
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: false
            src:
              enabled: true
      media:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data
        server: 192.168.10.123
        mountPath: /media
        mountOptions:
         - nfsvers=4
         - tcp
         - intr
         - hard
         - noatime
         - nodiratime
         - nolock
      comics:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data/media/comics
        server: 192.168.10.123
        mountPath: /comics
        mountOptions:
         - nfsvers=4
         - tcp
         - intr
         - hard
         - noatime
         - nodiratime
         - nolock
      downloads:
        enabled: true
        type: nfs
        path: /mnt/Pibbs-Horde/media/data/usenet
        server: 192.168.10.123
        mountPath: /usenet
        mountOptions:
         - nfsvers=4
         - tcp
         - intr
         - hard
         - noatime
         - nodiratime
         - nolock
      backup:
        enabled: true
        mountPath: /backups
    metrics:
      main:
        enabled: false

    autoscaling:
      vpa:
        enabled: false

    resources:
      requests:
        memory: 256Mi
        cpu: 10m
      limits:
        memory: 1Gi
        cpu: 500m
    securityContext:
      container:
        UMASK: "0022"
      pod:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
