apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  timeout: 20m
  maxHistory: 3
  releaseName: longhorn
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  chart:
    spec:
      chart: longhorn
      version: 1.10.2
      sourceRef:
        kind: HelmRepository
        name: home-ops-mirror
        namespace: flux-system
  values:
    defaultSettings:
      defaultReplicaCount: "1"
      storageOverProvisioningPercentage: "100000"
      # v2DataEngine: true
    persistence:
      defaultClass: true
      defaultClassReplicaCount: "1"
    longhornUI:
      replicas: 1
    service:
      ui:
        type: LoadBalancer
        loadBalancerIP: ${LONGHORN_IP}
        port: 80