apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: notifiarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: notifiarr
      version: 7.14.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    image:
      repository: docker.io/golift/notifiarr
      pullPolicy: IfNotPresent
      tag: 0.9.1
    notifiarr:
      # This will be your password for your first-time login.
      # Use the username 'admin' and the API key as password to log in.
      # After login you must change your password from the UI
      apikey: ${NOTIFIARR_API}
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: ${S3URL}
        bucket: "${S3PREFIX}-plex"
        accessKey: ${S3ID}
        secretKey: ${S3KEY}
        encrKey: ${S3KEY}
    TZ: America/Los_Angeles
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: notifiarr.${BASE_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            ingressClassName: internal
          traefik:
            enabled: false
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: wethecommon-prod-cert
    service:
      main:
        enabled: true
        loadBalancerIP: ${NOTIFIARR_IP}
        type: LoadBalancer
        ports:
          main:
            enabled: true
            port: 5454
            protocol: http
            targetPort: 5454
          codeserver:
            enabled: true
            port: 12321
            targetPort: 12321
    workload:
      main:
        type: StatefulSet
        podSpec:
          initContainers:
            initconfig:
              enabled: false
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 0 * * *
      machine-id:
        enabled: true
    addons:
      codeserver:
        enabled: true
        service:
          enabled: false
        ingress:
          enabled: true
          targetSelector:
            main: codeserver
          integrations:
            nginx:
              enabled: true
              ingressClassName: internal
            traefik:
              enabled: false
              middlewares:
                - name: local
                  namespace: traefik
            certManager:
              enabled: true
              certificateIssuer: wethecommon-prod-cert
          hosts:
            - host: notifiarr-code.${BASE_DOMAIN}
              paths:
                - path: /
                  pathType: Prefix
    autoscaling:
      vpa:
        enabled: true
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 512Mi
